<div class="">
  <header class="dash-header">
    <div class="col-xs-12 col-sm-6 col-md-6 dash-logo-section">
      <img class="img-responsive" src="../assets/images/logo-without-name.png" alt="Logo" title="" />
      <p><a href="tel:+877865-PURE">(877) 865-PURE</a></p>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 dashbrd-options pull-right text-right">
      <a *ngIf="showCreate">+ New Survey</a>
      <div class="dropdown user-options">
        <button class="btn btn-default dropdown-toggle survey-style" type="button" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <img class="img-responsive" src="../assets/images/dashbrd-header-menu.png" alt="menu" title="" />
        </button>
        <ul class="dropdown-menu" aria-labelledby="user-actions">
          <li class="username">Hello {{userEmail}}</li>
          <li *ngFor="let link of dsboardLink"> <button type="button" class="btn btn-link" >{{link.featureLabel}}</button></li>
          <li><a (click)="resetPassword()">Reset Password</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </header>

  <div class="container">
    <div class="row" style="margin-top: 100px">
      <div class="col-xs-12 col-sm-5 col-md-5">
        <form class="form-horizontal">
          <button type="button" class="btn btn-primary pull-left submit-btn" style="margin-left: 20px;">Back to Dashboard</button>
          <button type="button" class="btn btn-primary submit-btn pull-right" (click)="newCompany()">New Company</button>
          <legend style="padding-top: 50px">Company Listing</legend>
          <div class="panel panel-default">
            <div class="panel-body " style="height: 200px;overflow-y: auto;">
              <ul>
                <li *ngFor="let data of companyinfo"><a [routerLink]="[]" (click)="fatchCompanyData(data)">{{data.name}} </a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>

      <div class="col-xs-12 col-sm-5 col-md-5 pull-right">
        <form class="form-horizontal">
          <div class="panel panel-default">
            <div class="panel-body ">
              <form class="form-horizontal">
                <legend> Company Info</legend>
                <div class="form-group">
                  <label class="col-md-4 control-label">Name</label>
                  <div class="col-md-6">
                    <input name="textinput" type="text" placeholder="Name" class="form-control input-md" >
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label">Address</label>
                  <div class="col-md-6">
                    <input  name="textinput" type="text" placeholder="Address" class="form-control input-md" >
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label">Phone</label>
                  <div class="col-md-6">
                    <input name="" type="text" placeholder="Phone" class="form-control input-md"  >
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label">Primary Liason</label>
                  <div class="col-md-6">
                    <input name="" type="text" placeholder="Primary Liason" class="form-control input-md" >
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label" >Secondary Liason </label>
                  <div class="col-md-6">
                    <input  name="textinput" type="text" placeholder="Secondary Liason " class="form-control input-md" >
                  </div>
                </div>

                <!-- ----  supplier urls ------------>

                <div class="form-group" [hidden]="!showCompanyInfo.isASupplier == '1'">
                  <label class="col-md-4 control-label" >Supplier Url For Completes: </label>
                  <div class="col-md-6">
                    <input  name="textinput" type="text" placeholder="Supplier Url For Completes " class="form-control input-md" >
                  </div>
                </div>

                <div class="form-group" [hidden]="!showCompanyInfo.isASupplier == '1'">
                  <label class="col-md-4 control-label" >Supplier Url For Terms: </label>
                  <div class="col-md-6">
                    <input  name="textinput" type="text" placeholder="Supplier Url For Terms " class="form-control input-md" >
                  </div>
                </div>

                <div class="form-group" [hidden]="!showCompanyInfo.isASupplier == 1">
                  <label class="col-md-4 control-label" >Supplier Url For OverQuotas: </label>
                  <div class="col-md-6">
                    <input  name="textinput" type="text" placeholder="Supplier Url For OverQuotas " class="form-control input-md" >
                  </div>
                </div>

                <div class="form-group" [hidden]="!showCompanyInfo.isASupplier == 1">
                  <label class="col-md-4 control-label" >Supplier Url For Security Termination: </label>
                  <div class="col-md-6">
                    <input  name="textinput" type="text" placeholder="Supplier Url For Security Termination " class="form-control input-md" >
                  </div>
                </div>

                <div class="form-group" [hidden]="!showCompanyInfo.isASupplier == 1">
                  <label class="col-md-4 control-label" > Send Notification</label>
                  <div class="col-md-6">
                    <label class="radio-inline">
                      <input type="radio" name="rdo1" id="notify" value=1  >Yes
                    </label>
                    <label class="radio-inline" >
                      <input type="radio" name="rdo1"   value=0  >No
                    </label>
                  </div>
                </div>

                <div class="form-group" [hidden]="!showCompanyInfo.isASupplier == 1">
                  <label class="col-md-4 control-label" > Expose Buyer ID by API</label>
                  <div class="col-md-6">
                    <label class="radio-inline">
                      <input type="radio" name="rdo5" value=1 (click)="changeDefault()">Yes
                    </label>
                    <label class="radio-inline" >
                      <input type="radio" name="rdo5"   value=0 (click)="makeDefaultChk()">No
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label" >Is A Buyer</label>
                  <div class="col-md-6">
                    <label class="radio-inline">
                      <input type="radio" name="rdo2" id="buyer" value=1>Yes
                    </label>
                    <label class="radio-inline" >
                      <input type="radio" name="rdo2" value=0>No
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label" >Is A Supplier</label>
                  <div class="col-md-6">
                    <label class="radio-inline" >
                      <input type="radio" name="rdo3" value=1>Yes
                    </label>
                    <label class="radio-inline" >
                      <input type="radio" name="rdo3" value=0>No
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label" >Is An Operator</label>
                  <div class="col-md-6">
                    <label class="radio-inline">
                      <input type="radio" name="rdo4" value=1 checked>Yes
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="rdo4" value=0>No
                    </label>
                  </div>
                </div>
                <div class="col-xm-6 col-md-12 col-sm-12 pull-right">
                  <div class="btn-group-md">
                    <button class="btn btn-warning  btnSpace"  (click)="cancelCompanyInfo()" >Cancel</button>
                    <button  class="btn btn-success btnSpace"  [hidden]="!shUpdate==true" (click)="updateCompanyDetails(showCompanyInfo)">Update</button>
                    <button class="btn btn-success btnSpace"  [hidden]="!shSave==true" [disabled]="!showCompanyInfo.name || ! showCompanyInfo.address || ! showCompanyInfo.phone || !showCompanyInfo.primaryLiaison || ! showCompanyInfo.secondaryLiaison || ! showCompanyInfo.isABuyer || ! showCompanyInfo.isASupplier || ! showCompanyInfo.isAnOperator||(showCompanyInfo.isASupplier ==1 && (!showCompanyInfo.supp_url_completes || !showCompanyInfo.supp_url_terms || !showCompanyInfo.supp_url_overquota))"  (click)="saveCompanyDetails(showCompanyInfo)" >Save</button>
                    <button  class="btn btn-danger btnSpace"   [hidden]="!shDelete==true"  (click)="deleteCompany(showCompanyInfo.id)">Delete</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

</div>
